@font-face {
  font-family: 'Segoe';
  src: url('../fonts/segoeuil.ttf');
}

/*

background/lightbrown: #E9DECA
text/grey: #565656
links/blue: #2d9898
red: #D85252
darkblue: #0D344F

*/

body {
  font-family: 'Segoe';
  background-color: #E9DECA;
  font-size: 2em;
  color: #565656;
}

#header {
  padding: 10px 0;
  color: #D85252;
}

a {
  color: #2d9898;
}

a:hover {
  text-decoration: none;
  color: #0D344F;
}

/* .btn-success {
  background: none;
  border: none;
  background-color: #0D344F;
  color: #565656;
} */

.purchaseButton {
  color: #f0f3f7;
  background: none;
  background-image: none;
  background-color: #3b8f8d;
}

.productblock {
  text-align: center;
}

.thumbnail .caption {
  padding: 9px;
  font-size: 0.7em;
  color: #333;
}

.thumbnail, .panel, .panel-default {
  background: transparent;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.smallfont {
  font-size: 0.9em;
}

.navbar, .navbar-default, .navbar-toggle, .collapsed, .navbar-header {
  background: transparent;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-image: none;
  background-repeat: none;
  border-radius: none;
  box-shadow: transparent;
}

.dropdownbtn, .image-upload {
  width: 100%;
  margin: 0px;
}

.dropdown-menu {
  width: 100%;
  background-color: transparent;
  border: none;
}

.dropdown-item {
  width: 50%;
  margin: 0px;
  padding: 0px;
  background-color: #fff;
}

.select-item-type {
  margin: 8px;
  padding: 24px;
  border: 2px solid;
  font-size: 18px;
  text-align: center;
}

.select-item-type.cancel {
  border: none;
}

.category-title {
  text-align: center;
}

.thumbnail img {
  height: 200px;
}

#submitted-form {
  display: none;
}

.errorMessage {
  font-size: 14px;
  color: red;
  text-align: center;
}

#log-out-btn {
  float: bottom;
  bottom: 5%;
  position: fixed;
}

.admin
  h2 {
    font-size: 1.3em;
  }

  .main {
    width: 85%;
    height: 100%;
    margin: 0;
    float: right;
  }

  .edit-form-btn {
    margin: 5px;
    text-align: center;
  }

  #navbar-container {
    width: 15%;
    position: fixed;
    left: 2%;
  }

  #navbar {
    list-style-type: none;
    padding: 0;
  }

  #navbar li {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  #welcome {
    padding: 15%;
    padding-top: 20%;
    padding-bottom: 20%;
    font-size: 2em;
  }

.audit-log-results.old-values {
  color: grey;
}

.date-time-container {
  width: 14em;
}
.date-time {
  position: relative
}
.date-time input {
  width: 9em;
}
.date-time .prompt {
  display: inline-block;
  width: 2.5em;
}

.filter-heading span {
  font-size: small;
}
