.header .container{
  height: 110px;
}

.header img{
  max-height: 400%;
}

.header li a{
  margin-top: 50px;
}

.App {
  color: black;
  margin-top: 110px;
}

#app-body {
  margin-left: 250px;
  margin-right: 50px;
}

#jumbotron-component {
  background-color: #575757;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

#jumbotron-component .jumbotron {
  background-color: #575757;
}

#jumbotron-component img {
  height: 70%;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#jumbotron-component #learningtoshopresponsibly {
  height: 50%;
  width: 50%;
}

#jumbotron-component p {
  color: white;
}

.App ul {
  list-style-type: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
