.header .container{
  height: 75px;
}

.header img{
  max-height: 300%;
}

.header li a{
  margin-top: 20px;
}

.App {
  color: black;
  margin-top: 70px;
  margin-bottom: 70px;
}

#jumbotron-component {
  background-color: #575757;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

#jumbotron-component .jumbotron {
  background-color: #575757;
}

#jumbotron-component img {
  height: 70%;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#jumbotron-component #learningtoshopresponsibly {
  height: 50%;
  width: 50%;
}

#jumbotron-component p {
  color: white;
}

#ranking {
  padding-top: 70px;
  margin-left: 250px;
  margin-right: 100px;
}

#products {
  padding-top: 70px;
  margin-left: 250px;
  margin-right: 100px;
}

#certifications {
  padding-top: 70px;
  margin-left: 250px;
  margin-right: 100px;
}

#contact {
  padding-top: 70px;
  margin-left: 250px;
  margin-right: 100px;
}

.footer .container{
  height: 200px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  display: block;
}

.footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer p {
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  display: block;
}

.App ul {
  list-style-type: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
