<div ng-if="!brandDetails">
    <div class="col-md-12 thumbnail">
        No Brand Details Found
    </div>
</div>

<div ng-if="brandDetails">
    <div class="col-md-12 thumbnail">
        <br>
        <div class="col-md-4">
            <img
                ng-src="{{ brandDetails.image }}"
                class="img-rounded img-responsive"
            >
        </div>

        <div class="col-md-8">
                <h2>{{ brandDetails.name }}</h2>
                <p ng-if="brandDetails.ranking">Ranking: <a href="#/ranking">{{ brandDetails.ranking }}</a></p>
                <p ng-if="relatedCategories.length > 0">Category: 
                    <span ng-repeat="categoryDetails in relatedCategories">
                        <a href="#/category/{{ categoryDetails.id }}">{{ categoryDetails.name }}</a> 
                    </span>
                </p>
                <p ng-if="brandDetails.description">{{ brandDetails.description }}</p>
            </p>

            <a
                href="{{ brandDetails.brandURL }}"
                class="btn purchaseButton"
                ng-if="brandDetails.brandURL"
                target="_blank"
            >
                Visit {{ brandDetails.name }}
            </a>

        </div>
        <br>&nbsp;<br>
        <div class="col-md-12">
            <div class="row"><br>
            </div>
        </div>
    </div>


    <div class="" ng-if="loaded">
        <h2>Products</h2>
        <div class="row">
            <div ng-repeat="product in brandProducts">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail productblock">
                        <img ng-src="{{ product.image }}" alt="..." height="400px">
                        <h3><a href="#/product/{{ product.id }}">{{ product.name }}</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="" ng-if="!loaded || brandProducts.length == 0">
        No products found at this time
    </div>
</div>