<div class="col-md-12">
    <img src="../resources/img/smarterconsumer.jpg" width="100%">
</div>

<div class="col-md-12 text-center">
    <h1>Slave Free Buying Guide</h1>        
    <div class="thumbnail">
        <p>One of the most impactful ways everyday people can get involved in the fight against modern-day slavery and human trafficking is to begin purchasing slavery-free goods. When scaled, these purchases create demand for goods produced with audited, slavery-free labor; simultaneously, this shift also shrinks the market for goods produced with forced or slave labor. Search for products below or browse by category.</p>
    </div>
</div>

<div class="" ng-if="loaded">
    <div class="row">
        <h2>Sample Categories</h2>
        <div ng-repeat="category in categories">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail productblock">
                    <img ng-src="{{ category.image }}" alt="..." height="400px">
                    <h3><a href="#/category/{{ category.id }}">{{ category.name }}</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="" ng-if="loaded">
    <div class="row">
        <h2>Sample Brands</h2>
        <div ng-repeat="brand in brands">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail productblock">
                    <img ng-src="{{ brand.image }}" alt="..." height="400px">
                    <h3><a href="#/brand/{{ brand.id }}">{{ brand.name }}</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="" ng-if="loaded">
    <div class="row">
        <h2>Sample Products</h2>
        <div ng-repeat="product in products">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail productblock">
                    <img ng-src="{{ product.image }}" alt="..." height="400px">
                    <h3><a href="#/product/{{ product.id }}">{{ product.name }}</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>