<div ng-if="!brandDetails">
    <div class="col-md-12 thumbnail">
        No Product Details Found
    </div>
</div>

<div ng-if="brandDetails">
    <div class="col-md-12 thumbnail">
        <br>
        <div class="col-md-4">
            <img
                ng-src="{{ productDetails.image }}"
                class="img-rounded img-responsive"
            >
        </div>

        <div class="col-md-8">
            <p>
                <h2>{{ productDetails.name }}</h2>
                Brand: <a href="#/brand/{{ productDetails.brandId }}">{{ brandDetails.name }}</a><br>
                Category: <a href="#/category/{{ productDetails.categoryId }}">{{ categoryDetails.name }}</a><br>
                Description: {{ productDetails.description }}<br>
            </p>

            <a
                ng-click="updateClickCount()"
                href="{{ productDetails.purchaseUrl }}"
                class="btn purchaseButton"
                ng-if="productDetails.purchaseUrl"
                target="_blank"
                height="200px"
            >
                Purchase {{productDetails.name }}
            </a>
        </div>
        <br>&nbsp;<br>
        <div class="col-md-12">
            <div class="row"><br>
            </div>
        </div>
    </div>
</div>