@font-face {
    font-family: 'Segoe';
    src: url('../fonts/segoeuil.ttf');
}

/*

            3b8f8d -
    Blue – #72d6d6 - container
    new grey: #f0f3f7
    Grey – #7f7f7f – line colors
    Light – #ededed - general background
    ff5467

*/

body {
    font-family: 'Segoe';
    background-color: #f0f3f7;
    font-size: 2em;
}

#header {
    padding: 10px 0;
    color: #3b8f8d;
}

a {
    color: #3b8f8d;
}

.btn-primary {
    color: #f0f3f7;
    background-color: #3b8f8d;
}

.label{
    font-size: 50%;
}

.pastEvents {
    cursor: pointer;
}

.pastEvents.collapsed:after {
    content: " +"
}

.pastEvents.expanded:after {
    content: " -"
}

.thumbnail .caption {
    padding: 9px;
    font-size: 0.7em;
    color: #333;
}

.smallfont {
    font-size: 0.7em;
}