<h2>Audit Log Reporter</h2>

<p ng-if="auditLogs === null">Please wait while we load the data...</p>

<div ng-if="auditLogs !== null">
    <h3>Filters</h3>
    <table>
        <thead>
        <tr>
            <th>Users</th>
            <th>Operation Types</th>
            <th>Event Dates/times [Need calendar, etc]</th>
            <th>Record Type</th>
            <th>Record Ids</th>
            <th>Fields</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <select ng-model="criteria.user" title="Select user" ng-change="refreshResults()">
                    <option value="">Select...</option>
                    <option ng-if="filters.users.anon" value="anonymous">Anonymous</option>
                    <option ng-repeat="username in filters.users.admins" value="admin${{ username }}">{{ username }}</option>
                </select>
            </td>
            <td>
                <select ng-model="criteria.operationType" title="Select operation type" ng-change="refreshResults()">
                    <option value="">Select...</option>
                    <option ng-repeat="operationType in filters.operationTypes" value="{{ operationType }}">{{ operationType }}</option>
                </select>
            </td>
            <td>
                From: <input type="text" value="" ng-model="criteria.dates.from" placeholder="{{ getEarliestFilterDate() }}" ng-change="refreshResults()"/>
                <br/>
                To: <input type="text" value="" ng-model="criteria.dates.to" placeholder="{{ getLatestFilterDate() }} ng-change="refreshResults()""/>
            </td>
            <td>
                <select ng-model="criteria.record.type" title="Select record type" ng-change="clearRecordSubFilters(); refreshResults()">
                    <option value="">Select...</option>
                    <option ng-repeat="(recordType, children) in filters.records" value="{{ recordType }}">{{ recordType }}</option>
                </select>
            </td>
            <td>
                <select ng-model="criteria.record.id" title="Select record id" ng-change="refreshResults()">
                    <option value="">Select...</option>
                    <option ng-repeat="recordId in filters.records[criteria.record.type].ids" value="{{ recordId }}">{{ recordId }}</option>
                </select>
            </td>
            <td>
                <select ng-model="criteria.record.column" title="Select field" ng-change="refreshResults()">
                    <option value="">Select...</option>
                    <option ng-repeat="recordColumn in filters.records[criteria.record.type].columns" value="{{ recordColumn }}">{{ recordColumn }}</option>
                </select>
            </td>
            <td>
                <input type="text" value="" ng-model="criteria.field.value" ng-change="refreshResults()"/>
                <br/>
                <label >From<input type="radio" name="transition" ng-model="criteria.field.transition" value="from" ng-change="refreshResults()"/></label>
                <label >To<input type="radio" name="transition" ng-model="criteria.field.transition" value="to" ng-change="refreshResults()"/></label>
                <label >Either<input type="radio" name="transition" ng-model="criteria.field.transition" value="either" ng-change="refreshResults()"/></label>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>Matching</h3>

    <p ng-if="noFilter">Please enter some search criteria</p>

    <p ng-if="!noFilter && results.length === 0">No log entries match your criteria</p>

    <table ng-if="results.length > 0">
        <thead>
        <tr>
            <td ng-repeat="resultColumn in resultColumns" ng-bind-html="resultColumn.getHeading()"></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start="result in results">
            <td
                    ng-repeat="resultColumn in resultColumns"
                    rowspan="{{ resultColumn.getRowSpan(true) }}"
                    ng-bind-html="resultColumn.getDisplayValue(result, true)"
            >
                [1]
            </td>
        </tr>
        <tr ng-repeat-end>
            <td
                    ng-repeat="resultColumn in resultColumns"
                    ng-if="resultColumn.isCellDisplayed(false)"
                    ng-bind-html="resultColumn.getDisplayValue(result, false)"
            >
                [2]
            </td>
        </tr>
        </tbody>
    </table>

    <div ng-if="false">
    <p>Tmp user: {{ criteria.user }}</p>
    <p>Tmp operation: {{ criteria.operationType }}</p>
    <p>Tmp Date from: {{ criteria.dates.from }}</p>
    <p>Tmp Date to: {{ criteria.dates.to }}</p>
    <p>Tmp record type: {{ criteria.record.type }}</p>
    <p>Tmp record id: {{ criteria.record.id }}</p>
    <p>Tmp record column: {{ criteria.record.column }}</p>
    <p>Tmp field value: {{ criteria.field.value }}</p>
    <p>Tmp transition: {{ criteria.field.transition }}</p>
    </div>
</div>