<div>
    <br>
    <div class="add-form" id='add-form'>

        <h2>Edit Product</h2>

        <p ng-if="productSuggestionId">Go to the <a href="#!/admin/reviewSuggestedProduct/{{productSuggestionId}}">suggestion that generated this product</a>.</p>

        <div class="table" ng-include="'/views/partials/editProduct.html'"></div>

        <div class="errorMessage" ng-if="errorMessage">Error submitting form. Please complete all fields to continue.
            <br>
            <br>
        </div>

        <input class="btn btn-primary btn-lg btn-block" type="submit" ng-click="processForm()" value="Submit">

    </div>
</div>