<div class='admin'>
  <div id='navbar-container'>
    <h2>Admin</h2>
    <ul id='navbar'>
      <li><a ui-sref='admin'>Dashboard</a></li>
      <li><a ui-sref='admin.editProducts'>Products</a></li>
      <li><a ui-sref='admin.editBrands'>Brands</a></li>
      <li><a ui-sref='admin.editCategories'>Categories</a></li>
      <li><a ui-sref='admin.add'>Add product, brand, or category</a></li>
      <li><a ui-sref='admin.listSuggestedProducts'>Suggested products</a></li>
      <li><a ui-sref='admin.users'>Add an admin</a></li>
      <li><a ui-sref='admin.auditLogReport'>Audit Logs</a></li>
    </ul>

    <div ng--show="currentUser" ng-controller="SessionsCtrl">
      <a ng-click="logoutUser()" id="log-out-btn">Log out</a>
    </div>
  </div>

  <div class='main'>
    <ui-view>
      <h2 id='welcome'>
        Welcome to the admin dashboard!
      </h2>
    </ui-view>
  </div>
</div>
