<table class="table">
    <thead>
        <tr>
            <th scope="col">Images</th>
            <th scope='col'>Products</th>
            <th scope='col'>Brands</th>
            <th scope='col'>Category</th>
            <th scope="col">Description </th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in products" >
            <td>
                <img ng-if="!product.hasImage()" src="images/noimage.png" height="50px">
                <img ng-if="product.hasImage()" ng-src="{{ product.getImage() }}" height="50px">
            </td>

            <td>{{product.getName()}}</td>

            <td>{{getNameForBrandId(product.getBrandId())}}</td>
            <td>{{getNameForCategoryId(product.getCategoryId())}}</td>
            <td>{{product.getDescription()}}</td>
            <td>
                <button type="button" class="btn btn-success">
                    <a href="#!/admin/editProduct/{{ product.getId() }}">Edit</a>
                </button>
                <button type="button" class="btn btn-danger" ng-click="deleteProduct(products, product)">
                  Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>
