<table class="table">
    <thead>
        <tr>
            <th scope="col">Images</th>
            <th scope='col'>Brands</th>
            <th scope='col'>Ranking</th>
            <th scope="col">Description </th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="brand in allBrands">
            <td>
                <img ng-if="!brand.image" src="images/noimage.png" height="50px">
                <img ng-if="brand.image" ng-src="{{ brand.image }}" height="50px">
            </td>

            <td>{{brand.name}}</td>
            <td>{{brand.ranking}}</td>
            <td>{{brand.description}}</td>
            
            <td>
                <button type="button" class="btn btn-success">

                    <a href="#!/admin/editBrand/{{ brand.id }}">Edit</a>
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>

        </tr>

    </tbody>
</table>