<h2>Review a Suggested Product</h2>

<div ng-if="!loaded">
    Loading...
</div>

<div ng-if="loaded">
    <p>This is the suggested product:</p>
    <table class="table" ng-include="'/views/partials/viewSuggestedProduct.html'"></table>

    <!-- The options depend on the current state -->
    <div ng-if="suggestedProduct.getStatus() == 'in review' || suggestedProduct.getStatus() == 'rejected'">
        <h2>Options</h2>
        <div ng-if="suggestedProduct.getStatus() == 'in review'">
            <p ng-if="isValid()"><button class="btn btn-primary btn-lg" ng-click="approve()">Approve this suggestion</button></p>
            <p ng-if="!isValid()">You can't approve this product - not all mandatory fields have been entered.</p>
            <p>Edit this suggestion (TODO: need an edit button, on clicking switch to an edit screen)</p>
            <p><button class="btn btn-warning btn-lg" ng-click="reject()">Reject this suggestion</button></p>
        </div>
        <div ng-if="suggestedProduct.getStatus() == 'rejected'">
            <p><button class="btn btn-success btn-lg" ng-click="unreject()">Switch back to "in review"</button></p>
        </div>
        <p><button class="btn btn-danger btn-lg" ng-click="deleteSuggestion()">Permanently delete this suggestion</button> Note: this cannot be undone</p>
    </div>
</div>
