<table class="table">
    <thead>
        <tr>
            <th scope="col">Images</th>
            <th scope='col'>Category</th>
            <th scope="col">Description </th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="category in categories">
            <td>
                <img ng-if="!category.hasImage()" src="images/noimage.png" height="50px">
                <img ng-if="category.hasImage()" ng-src="{{ category.getImage() }}" height="50px">
            </td>

            <td>{{category.getName()}}</td>
            <td>{{category.getDescription()}}</td>
            <td class="action">
              <button type="button" class="btn btn-success">
                <a href="#!/admin/editCategory/{{ category.getId() }}">Edit</a>
              </button>
              <button type="button" class="btn btn-danger" ng-click="deleteCategory(category)">
                Delete
              </button>
                <button type="button" class="btn btn-info">
                    <a href="#!/admin/auditLogReport?recordType=categories&recordId={{ category.getId() }}">History</a>
                </button>
            </td>
        </tr>
    </tbody>
</table>
