<h2>Suggested Products</h2>

<div ng-if="!loaded">
    <p>Loading...</p>
</div>

<div ng-if="loaded">
    <div>
        <span>Show...</span>
        <label><input name="stateFilter" type="radio" ng-value="include.inReview" ng-model="includeFilter.value"/> In Review</label>
        <label><input name="stateFilter" type="radio" ng-value="include.approved" ng-model="includeFilter.value"/> Approved</label>
        <label><input name="stateFilter" type="radio" ng-value="include.rejected" ng-model="includeFilter.value"/> Rejected</label>
    </div>

    <table class="table">
        <tr>
            <th>Date Suggested</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Notes</th>
            <th></th>
        </tr>
        <tr ng-repeat="suggestedProduct in getFilteredSuggestedProducts()">
            <td>{{suggestedProduct.getCreatedAtUtc().format('DD MMM YYYY HH:mm')}}</td>
            <td>{{suggestedProduct.getName()}}</td>
            <td>{{suggestedProduct.getDescription()}}</td>
            <td>{{getCategory(suggestedProduct)}}</td>
            <td>{{getBrand(suggestedProduct)}}</td>
            <td>{{suggestedProduct.getSuggesterNotes()}}</td>
            <td class="action">
                <button type="button" class="btn btn-success">
                    <a href="#!/admin/reviewSuggestedProduct/{{ suggestedProduct.getId() }}">{{getReviewButtonText(suggestedProduct)}}</a>
                </button>
            </td>
        </tr>
    </table>
    <p ng-if="getFilteredSuggestedProducts().length == 0">No suggested products match the filter</p>
</div>
