<div ng-if="formType === ''">
  <h2>Select Submission Type</h2>

  <br>

  <div class="select-item-type" ng-click="selectItemType(availableTypes.Categories)">
    Category
  </div>

  <div class="select-item-type" ng-click="selectItemType(availableTypes.Brands)">
    Brand
  </div>

  <div class="select-item-type" ng-click="selectItemType(availableTypes.Products)">
    Product
  </div>
</div>

<div ng-if="formType !== ''">
  <br>
  <div class="add-form" id="add-form">

    <h2>Add New {{ itemType }}</h2>

    <div ng-include="'/views/partials/addItem.html'"></div>

    <div class="errorMessage" ng-if="errorMessage">Error submitting form. Please complete all fields to continue.<br><br></div>

    <input class="btn btn-primary btn-lg btn-block" type="submit" ng-click="processForm(addItem)" value="Submit">

    <div class="select-item-type cancel">
      <button class="btn btn-secondary" ng-click="selectItemType('')">
        Change Submission Type
      </button>
    </div>

  </div>
</div>


<div id="submitted-form">
  <h2>Submitted Successfully!</h2>

  <div class="select-item-type" ng-click="reloadPage()">
    Add New Item
  </div>

</div>
