<table class="table">
    <thead>
        <tr>
            <th scope="col">Images</th>
            <th scope='col'>Products</th>
            <th scope='col'>Brands</th>
            <th scope='col'>Category</th>
            <th scope="col">Description </th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="prod in products" >
            <td>
                <img ng-if="!prod.image" src="images/noimage.png" height="50px">
                <img ng-if="prod.image" ng-src="{{ prod.image }}" height="50px">
            </td>

            <td>{{prod.name}}</td>

            <td>{{prod.brandId}}</td>
            <td>{{prod.categoryId}}</td>
            <td>{{prod.description}}</td>
            <td>
                <button type="button" class="btn btn-success">
                    <a href="#!/admin/editProduct/{{ prod.id }}">Edit</a>
                </button>
                <button type="button" class="btn btn-danger" ng-click="deleteProduct(products, prod)">
                  Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>
