<h2>Suggested Products</h2>

<div ng-if="!loaded">
    <p>Loading...</p>
</div>

<div ng-if="loaded">
    <div>
        <span>Include...</span>
        <label><input type="checkbox" ng-model="include.pending"/> Pending</label>
        <label><input type="checkbox" ng-model="include.approved"/> Approved</label>
        <label><input type="checkbox" ng-model="include.rejected"/> Rejected</label>
    </div>

    <P>TODO: link to view 1 record; option to approve or reject</P>
    <table class="table">
        <tr>
            <th>Date Suggested</th>
            <th>Status</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Notes</th>
            <th>View</th>
        </tr>
        <tr ng-repeat="suggestedProduct in getFilteredSuggestedProducts()">
            <td>{{suggestedProduct.getCreatedAtUtc().format('DD MMM YYYY HH:mm')}}</td>
            <td>{{suggestedProduct.getStatus()}}</td>
            <td>{{suggestedProduct.getName()}}</td>
            <td>{{suggestedProduct.getDescription()}}</td>
            <td>{{getCategory(suggestedProduct)}}</td>
            <td>{{getBrand(suggestedProduct)}}</td>
            <td>{{suggestedProduct.getSuggesterNotes()}}</td>
            <td class="action">
                <button type="button" class="btn btn-success">
                    <a href="#!/admin/reviewSuggestedProduct/{{ suggestedProduct.getId() }}">Review</a>
                </button>
            </td>
        </tr>
    </table>
    <p ng-if="getFilteredSuggestedProducts().length == 0">No suggested products match the filter</p>
</div>
