<div ng-if="!brandDetails">
        <div class="col-md-12 thumbnail">
            No Brand Details Found
        </div>
    </div>

    <div ng-if="brandDetails">
        <div class="col-md-12 thumbnail">
            <br>
            <div class="col-md-4">
                <img ng-if="!brandDetails.hasImage()" src="images/noimage.png" height="400px" class="img-rounded img-responsive">
                <img ng-if="brandDetails.hasImage()" ng-src="{{ brandDetails.getImage() }}" height="400px" class="img-rounded img-responsive">
            </div>

            <div class="col-md-8">
                    <h2>{{ brandDetails.getName() }}</h2>
                    <p ng-if="brandDetails.hasRanking()">Ranking: <a href="#!/rankings">{{ brandDetails.getRanking() }}</a></p>
                    <p ng-if="relatedCategories.length > 0">Category:
                        <span ng-repeat="categoryDetails in relatedCategories">
                            <a href="#!/category/{{ categoryDetails.getId() }}">{{ categoryDetails.getName() }}{{$last ? '' : ', '}}</a>
                        </span>
                    </p>
                    <p ng-if="brandDetails.hasDescription()">{{ brandDetails.getDescription() }}</p>
                </p>

                <a
                    ng-if="brandDetails.hasBrandURL()"
                    href="{{ brandDetails.getBrandURL() }}"
                    class="btn purchaseButton"
                    target="_blank"
                >
                    Visit {{ brandDetails.getName() }}
                </a>

            </div>
            <br>&nbsp;<br>
            <div class="col-md-12">
                <div class="row"><br>
                </div>
            </div>
        </div>


        <div class="" ng-if="loaded">
            <h2>Products</h2>
            <div class="row">
                <div ng-repeat="product in brandProducts">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail productblock">
                            <img ng-if="!product.hasImage()" src="images/noimage.png" height="400px">
                            <img ng-if="product.hasImage()" ng-src="{{ product.getImage() }}" height="400px">
                            <h3><a href="#!/product/{{ product.getId() }}">{{ product.getName() }}</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="" ng-if="!loaded || brandProducts.length == 0">
            <p>No products found at this time</p>
            <p>&nbsp;</p>
        </div>
    </div>
