<h2>Shop All Categories</h2>

<div ng-if="allCategories.length < 1">
    Error: No Categories Found
</div>

<div class="" ng-if="loaded && allCategories.length > 0">
    <div class="row">
        <div ng-repeat="category in allCategories">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img ng-if="!category.image" src="images/noimage.png">
                    <img ng-if="category.image" ng-src="{{ category.image }}">
                    <h3><a href="#!/category/{{ category.id }}">{{ category.name }}</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>
