<div>
  <br>
  <div class="add-form" id='add-form'>

    <h2>Edit Item {{ itemType }}</h2>
    
    <div class="form-group">
      
      <input type="text" class="form-control" rows=5  ng-value="name"  ng-model="NameValue" required>
    </div>
    <div class="form-group">
      <textarea type="textarea" class="form-control" rows=5 ng-value="description" placeholder="Description" ng-model="DescriptionValue" required></textarea>
    </div>
    <div class="form-group">
      <input id="pictures" type="submit" ngf-select ng-model="Image" name="file" value="Select Image" accept="image/*"
        ngf-max-size="2MB" ngf-keep="true" ngf-keep-distinct="true" class="btn image-upload" required />
    </div>
    <div class="errorMessage" ng-if="errorMessage">Error submitting form. Please complete all fields to continue.
      <br>
      <br>
    </div>
    
    <input class="btn btn-primary btn-lg btn-block" type="submit" ng-click="processForm()" value="Submit">

  </div>
</div>