<br>
<div class="login-form">

  <div class="dropdown form-group">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{selectedCategoryName || 'Select Category'}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button ng-repeat="category in categories" ng-if="category.name.length > 0" ng-click="setCategory(category)"class="dropdown-item form-control">{{category.name}}</button>
      </div>
    </div>

	<div class="form-group">
		<input type="text" class="form-control" rows=5 value="" placeholder="Name" ng-model="addItem.name">
	</div>

	<div class="form-group">
		<input type="text" class="form-control" rows=5 value="" placeholder="Email" ng-model="addItem.email">
	</div>

	<div class="form-group">
		<input type="text" class="form-control" rows=5 value="" placeholder="Phone Number" ng-model="addItem.phone">
	</div>

	<div class="form-group">
		<input type="text" class="form-control" rows=5 value="" placeholder="Relationship" ng-model="addItem.relationship">
	</div>

	<input class="btn btn-primary btn-lg btn-block" type="submit" ng-click="processForm(addItem)" value="Submit">
</div>
<br><br>