<div ng-if="!brandDetails">
        <div class="col-md-12 thumbnail">
            No Product Details Found
        </div>
    </div>

    <div ng-if="brandDetails">
        <div class="col-md-12 thumbnail">
            <br>
            <div class="col-md-4">
                    <img ng-if="!productDetails.hasImage()" src="images/noimage.png" height="400px" class="img-rounded img-responsive">
                    <img ng-if="productDetails.hasImage()" ng-src="{{ productDetails.getImage() }}" height="400px" class="img-rounded img-responsive">
                </div>

            <div class="col-md-8">
                <h2>{{ productDetails.getName() }}</h2>
                <p ng-if="brandDetails.hasName()">Brand: <a href="#!/brand/{{ productDetails.getBrandId() }}">{{ brandDetails.getName() }}</a></p>
                <p ng-if="categoryDetails.hasName()">Category: <a href="#!/category/{{ productDetails.getCategoryId() }}">{{ categoryDetails.getName() }}</a></p>
                <p ng-if="productDetails.hasDescription()">{{ productDetails.getDescription() }}</p>

                <a
                    ng-if="productDetails.hasPurchaseUrl()"
                    ng-click="updateClickCount()"
                    href="{{ productDetails.getPurchaseUrl() }}"
                    class="btn purchaseButton"
                    target="_blank"
                    height="200px"
                >
                    Purchase {{productDetails.getName() }}
                </a>
            </div>
            <br>&nbsp;<br>
            <div class="col-md-12">
                <div class="row"><br>
                </div>
            </div>
        </div>
    </div>