
<div>
        <h2>Ranking System</h2>
        <div class="col-md-12 thumbnail">
            <p>
                    We ranked companies and brands based on their antislavery policies; supply chain transparency; third-party certifications; and engagement around slavery, forced labor and human trafficking. We awarded points for our Good, Better, Best lists as described below.
            </p>
        </div>
        
        <div class="col-md-6">
            <div class="thumbnail">
                <h3>Policy</h3>
                <img src="../images//rankingone.png" class="img-circle col-md-3" width="25%">
                <p>The company or brand has a Code of Conduct against human trafficking, slave labor, forced labor, child labor or bonded labor.</p>
                <br>
            </div>
        
        
            <div class="thumbnail">
                <h3>Transparency</h3>
                <img src="../images//rankingone.png" class="img-circle col-md-3" width="25%">
                <p>The company or brand publicly discloses a list of its suppliers or factories.</p>
                <br><br>
            </div>
        
        
            <div class="thumbnail">
                <h3>Engagement</h3>
                <img src="../images//rankingone.png" class="img-circle col-md-3" width="25%">
                <p>The company or brand reinvests in its source or production communities through development programs, projects or donations.</p>
                <br>
            </div>
        </div>
        
        <div>
            <div class="col-md-6">
                <div class="thumbnail">
                    <h3>Third Party Certifications</h3>
                    <div>
                        <img src="../images//rankingtwo.png" class="img-circle col-md-3" width="25%"><br>                    
                        The company or brand is third-party certified.
                        
                        *For third-party certifications we looked at, view the certifications page.
                    </div><br>
        
                    <div>
                        <div class="">
                            <img src="../images//rankingone.png" class="img-circle col-md-3" width="25%"><br>
                            The company or brand owns a third-party certified line.
                        </div>
                    </div><br>
        
                    <div>
                        <div class="">
                            <img src="../images//rankinghalf.png" class="img-circle col-md-3" width="25%"><br>
                            The company or brand produces one third-party certified product.
                        </div>
                    </div><br>
                </div>
            </div>
        </div>