<h2>Suggest A Product</h2>

<p>THE TEXT NEEDS TO BE REVIEWED!!</p>

<p>TBC: If you want to suggest a product to be included on this website, please fill in the form below</p>

<p>TBC: Fill in as much or as little as you want</p>

<p>TBC: If you supply an email address, we'll keep you posted about your suggestion</p>

<div class="add-form" id="add-form" ng-if="loaded">

    <h3>The Product</h3>
    <div ng-include="'/views/addItem.html'"></div>

    <h3>Your Details</h3>
    <div class="form-group">
        <input
                type="text"
                class="form-control"
                value=""
                placeholder="Your name"
                ng-model="addItem.suggesterName"
        >
    </div>

    <div class="form-group">
        <input
                type="text"
                class="form-control"
                value=""
                placeholder="Your contact telephone number"
                ng-model="addItem.suggesterTelephoneNumber"
        >
    </div>

    <div class="form-group">
        <input
                type="text"
                class="form-control"
                value=""
                placeholder="Your email address"
                ng-model="addItem.suggesterEmailAddress"
        >
    </div>

    <div class="form-group">
      <textarea
              type="textarea"
              class="form-control"
              rows=5
              value=""
              placeholder="Enter any additional notes here, eg about why you are suggesting it, anything you're not sure about, etc..."
                  ng-model="addItem.suggesterNotes"
              required
      ></textarea>
    </div>

    <input class="btn btn-primary btn-lg btn-block" type="submit" ng-click="processForm(addItem)" value="Submit">

</div>

<div ng-if="success">
    <h2>Thank you for suggesting a product!</h2>

    <div class="select-item-type" ng-click="reloadPage()">
        Suggest another product
    </div>
</div>