<a href="#!/admin/reviewSuggestedProduct/{{ suggestedProduct.getId() }}" ng-if="isAdminUser" class="btn btn-info btn-lg pull-right" title="This only appears for admin users">
    Go to review screen
</a>
<h2>Suggested Product</h2>

<div ng-if="!loaded">
    <p>Loading...</p>
</div>

<div ng-if="loaded">
    <div ng-if="!found">
        <p>Sorry, we could not find that suggestion.</p>
    </div>

    <div ng-if="found">
        <div ng-if="suggestedProduct.getStatus() == ProductSuggestionStatuses.pending">
            <h3>Thank you for suggesting a product!</h3>

            <p>We have sent you a verification code.</p>

            <form ng-submit="verifyCode(verificationCode)">
            <p>
                When you receive your verification code, please enter it here: <input type="text" ng-model="verificationCode" size="5"/>
                <input class="btn btn-primary btn-lg" type="submit" value="Verify">
            </p>
            </form>
        </div>

        <p ng-if="suggestedProduct.getStatus() !== ProductSuggestionStatuses.pending">You can track your suggestion with the URL in the address bar.</p>

        <div ng-if="verified">
            <p>Thank you for verifying your suggestion!</p>
            <p>It will now be reviewed by one of our experts.</p>
        </div>

        <table class="table" ng-include="'/views/partials/viewSuggestedProduct.html'"></table>

        <a ng-href="{{baseUrl}}/sendMessage" class="btn btn-primary btn-lg btn-block">Send us a message</a>
    </div>
</div>
