<h2>Suggested Product</h2>

<div ng-if="!loaded">
    <p>Loading...</p>
</div>

<div ng-if="loaded">
    <div ng-if="!found">
        <p>Sorry, we could not find that suggestion.</p>
    </div>

    <div ng-if="found">
        <div ng-if="suggestedProduct.getStatus() == ProductSuggestionStatuses.pending">
            <h3>Thank you for suggesting a product!</h3>

            <p>You can track your suggestion with the URL in the address bar.</p>

            <!-- Temporarily disabling this functionality
            <p>When you receive your validation code, enter it here: <input type="text" ng-model="validationCode" placeholder="For now, use &quot;a1&quot;"/> <input class="btn btn-primary btn-lg" type="submit" ng-click="validateCode(validationCode)" value="Validate"></p>
            -->
        </div>

        <div ng-if="validated">
            <p>[TBC] Thank you for validating your suggestion!</p>
            <p>[TBC] It will now be reviewed by one of our experts.</p>
        </div>

        <table class="table" ng-include="'/views/partials/viewSuggestedProduct.html'"></table>

        <a ng-href="{{baseUrl}}/sendMessage" class="btn btn-primary btn-lg btn-block">Send us a message</a>
    </div>
</div>
