<h2>Suggested Product</h2>

<div ng-if="!loaded">
    <p>Loading...</p>
</div>

<div ng-if="loaded">
    <div ng-if="!found">
        <p>Sorry, we could not find that suggestion.</p>
    </div>

    <div ng-if="found">
        <div ng-if="suggestedProductDetails.status == 'pending'">
            <h3>Thank you for suggesting a product!</h3>

            <p>You can track your suggestion with the URL in the address bar.</p>

            <p>When you receive your validation code, enter it here: <input type="text" ng-model="validationCode" placeholder="For now, use &quot;a1&quot;"/> <input class="btn btn-primary btn-lg" type="submit" ng-click="validateCode(validationCode)" value="Validate"></p>

            <div class="select-item-type" ng-click="navigateToSuggestAProduct()">
                Suggest another product
            </div>
        </div>

        <div ng-if="validated">
            <p>[TBC] Thank you for validating your suggestion!</p>
            <p>[TBC] It will now be reviewed by one of our experts.</p>
        </div>

        <table class="table">

            <tr><td colspan="2">Product Details</td></tr>
            <tr><th>Name</th><td>{{suggestedProductDetails.name}}</td></tr>
            <tr><th>Description</th><td>{{suggestedProductDetails.description}}</td></tr>
            <tr>
                <th>Purchase URL</th>
                <td><a href="{{suggestedProductDetails.purchaseUrl}}" target="_new">{{suggestedProductDetails.purchaseUrl }}</a></td>
            </tr>
            <tr><th>Category</th><td>{{category.name}}</td></tr>
            <tr><th>Brand</th><td>{{brand.name}}</td></tr>
            <tr>
                <th>Image</th>
                <td><img ng-if="suggestedProductDetails.image" src="{{suggestedProductDetails.image}}"/></td>
            </tr>

            <tr><td colspan="2">Suggester Details</td></tr>
            <tr>
                <th>Name</th>
                <td>{{suggestedProductDetails.suggesterGivenName}} {{suggestedProductDetails.suggesterFamilyName}}</td>
            </tr>
            <tr><th>Telephone</th><td>{{suggestedProductDetails.suggesterTelephoneNumber}}</td></tr>
            <tr><th>Email</th><td>{{suggestedProductDetails.suggesterEmailAddress}}</td></tr>
            <tr><th>Notes</th><td>{{suggestedProductDetails.suggesterNotes}}</td></tr>

            <tr><td colspan="2">About Your Suggestion</td></tr>
            <tr><th>Status</th><td>{{suggestedProductDetails.status}}</td></tr>
            <tr><th>Suggested At</th><td>{{suggestedProductDetails.createdAtUtc}}</td></tr>

        </table>
    </div>
</div>
